<div class="contentform">
<h2>Here you can create your new project: </h2>
<form action="/create/Project" method="post" id="pform">
<p><lable><h4>Title:</h4></lable></p>
<p><input type="text" name="Project[title]"></p>
<p><lable><h4>Description:</h4></lable></p>
<p><textarea rows="3" cols="40" name="Project[description]"> </textarea></p>
<p><lable><h4>Platforms:</h4></lable></p>
<p><textarea rows="3" cols="40" name="Project[platforms]"> </textarea></p>
<p><lable><h4>Tools:</h4></lable></p>
<p><textarea rows="3" cols="40" name="Project[tools]"> </textarea></p>
<p><input type="Submit" value="Save"></p>
</form>
</div>
