
<ul>
<strong><%=@project.title.capitalize%></strong>
</ul>
<ul>
Description: <%=@project.description%>
</ul>
<ul>
Platforms: <%=@project.platforms%>
</ul>
<ul>
Tools: <%=@project.tools%>
</ul>

<a href="/Project"> Back to Form</a>
